<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'header.html' %}
	{% block header %}
	{% endblock %}
</head>
<body>
	<div class="top-nav" id="top-nav1">
	  <a href="/">Home</a>
	  <a href="/admin"class="active">Admin</a>
	  <a href="/login">Login</a>
	  <a href="/signup">Sign Up</a>
	  <a href="/logout">Logout</a>
	  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
	    <i class="fa fa-bars"></i>
	  </a>
	</div>
	<div class="container">
		<div class="row">
			<div>
				<div class="profile">
					<h4>Admin</h4>
					

					<form method=POST enctype=multipart/form-data>
						<div id="avatar-preview">
							<img id="avatar-img" src="{{ url_for('static', filename='images/default-user.png') }}">
						</div>
						<input type="file" id="file" name="file">
						<button type="button" id="upload-avatar">Upload</button>
						<p><b>Username: </b>{{ data.username }}</p>
					</form>
				</div>
				<div class="post-editor">
					<form action="/add-post" method="post">
						<h5>Title</h5>
						<input id="title-input" type="text" name="title">
						<h5>Text</h5>
						<textarea id="content-input" name="content" rows="20" cols="50"></textarea>
						<br>
						<div style="text-align: right;">
							<button type="submit" id="save-btn">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tiny-date-picker.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}"></script>
  	<script>
  		tinymce.init({
  			selector:'#content-input',
  			resize: false,
  			toolbar: [
				'undo redo | styleselect | bold italic | link image',
				'alignleft aligncenter alignright'
			],
			menu: {
				view: {title: 'Edit', items: 'cut, copy, paste'}
			},
			toolbar_items_size : 'small',
			branding: false,
			height: 600,
  		});

  		function setAvatar(path) {
  			$("#avatar-img").attr("src", path);
  		}

  		$("#upload-avatar").click(function(e) {
			e.preventDefault();

			var fd = new FormData();
			var temp_file = $( '#file' )[0].files[0]; 
			fd.append('file', $( '#file' )[0].files[0]);

		    var reader = new FileReader();
		    reader.onload = function(){
		        document.getElementById('avatar-img').src = this.result;
		        console.log("x1");
		    };
		    reader.readAsDataURL(temp_file);
		    console.log(reader.result);
		    document.getElementById('avatar-img').src = reader.result;

			$.ajax({
			    type: 'POST',
			    url: '/upload',
			    data: fd,
			    contentType: false,
			    cache: false,
			    processData: false,
			    async: false,
			    success: function(data) {
			        alert(data);
			    },
			    failure: function(data){
			        alert(data);
			    }
			});
		});
  	</script>
</body>
</html>