{% block header %}
	<meta charset="UTF-8">
	<title>EasyCMS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/easy.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-date-picker.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}"  type="image/icon type">
{% endblock %}