<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EasyCMS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/easy.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-date-picker.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<style>
		.login {
			width: 25%;
		}

		.register {
			width: 25%;
		}

		.table {
			width: 75%;
		}
	</style>
</head>
<body>
	<div class="top-nav" id="top-nav1">
	  <a href="/" class="active">Home</a>
	  <a href="/admin">Admin</a>
	  <a href="/login">Login</a>
	  <a href="/register">Register</a>
	  <a href="/logout">Logout</a>
	  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
	    <i class="fa fa-bars"></i>
	  </a>
	</div>
	<div class="container">
		<div class="row">
			<div class="register">
				<form action="/add_post" method="post">
					<h2>Home</h2>
					{% for post in posts %}
						<h2>{{ post.title }}</h2>
						<small>{{ post.date }}</small>
					    <p> {{ post.content }} </p>
					    {% for c in post.comments %}
							<div class="comment">
								<p>{{ c.content }}</p>
							</div>
					    {% endfor %}
					    <form action="/add-comment" method="post">
							<textarea id="comment-input"></textarea>
							<input type="hidden" id="post-id" value="{{ post.id }}">
							<br>
							<div class="row" style="text-align: center;">
								<button type="submit" id="save-btn">Save</button>
							</div>
					    </form>
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tiny-date-picker.min.js') }}"></script>
	<script>
		$("#save-btn").click(function(e) {
			e.preventDefault();

			var fd = new FormData();
			var content = $( "#comment-input").val(); 
			fd.append('content', content);
			fd.append('post-id', $("#post-id").val());

			console.log($("#post-id").val());

			$.ajax({
			    type: 'POST',
			    url: '/add-comment',
			    data: fd,
			    contentType: false,
			    cache: false,
			    processData: false,
			    async: false,
			    success: function(data) {
			        alert(data);
			    },
			    failure: function(data){
			        alert(data);
			    }
			});
		});

	</script>
</body>
</html>