<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'header.html' %}
	{% block header %}
	{% endblock %}
</head>
<body>
	<div class="top-nav" id="top-nav1">
	  <a href="/" class="active">Home</a>
	  <a href="/admin">Admin</a>
	  <a href="/login">Login</a>
	  <a href="/signup">Sign Up</a>
	  <a href="/logout">Logout</a>
	  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
	    <i class="fa fa-bars"></i>
	  </a>
	</div>
	<div class="container" id="app">
		<div class="row">
			<div>
					<h2>Home</h2>
					<div data-bind="foreach: posts">
						<div>
							<h2 data-bind="text: title"></h2>
							<small data-bind="text: author"></small>
							<small data-bind="text: date"></small>
							<p data-bind="html: content"></p>
							<div data-bind="foreach: comments">
								<div class="comment">
									<div class="comment-vote">
										<div style="float:left">
											<i class="fa fa-angle-up fa-lg vote" data-bind="click: upvote"></i><br>
											<i class="fa fa-angle-down fa-lg vote" data-bind="click: downvote"></i>
										</div>
										<div style="float:left; padding: 8px">
											<span data-bind="text: votes"></span>
										</div>
									</div>
									<div class="comment-content">
										<b><span data-bind="text: author"></span></b> <span data-bind="text: content"></span>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="comment-form">
								<textarea id="comment-input" name="content" data-bind="textInput: newComment"></textarea>
								<br>
								<div class="row" style="text-align: center;">
									<button type="button" class="save-btn" data-bind="click: addComment">Save</button>
								</div>
							</form>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tiny-date-picker.min.js') }}"></script>
	<script>
		$("#save-btn").click(function(e) {
			e.preventDefault();

			
		});

		function AppModelView() {
			var self = this;
			self.posts = ko.observableArray();

			self.PostModel = function(p) {
				var pm = this;
				pm.id = ko.observable(p.id);
				pm.title = ko.observable(p.title);
				pm.author = ko.observable(p.author);
				pm.date = ko.observable(p.date);
				pm.content = ko.observable(p.content);
				pm.comments = ko.observableArray();
				pm.newComment = ko.observable();

				pm.init = function() {
					$.each(p.comments, function(i, val) {
						pm.comments.push(new self.CommentModel(val));
					});
					pm.comments.sort(function(a, b) {  
						return b.votes() - a.votes(); 
					});  
				}

				pm.addComment = function() {
					$.post("/add-comment", {"post-id": pm.id(), "content": pm.newComment()})
					.done(function() {
						self.loadData();
					});
				}

				pm.init();
			}

			self.CommentModel = function(c) {
				var cm = this;
				cm.id = ko.observable(c.id);
				cm.author = ko.observable(c.author);
				cm.content = ko.observable(c.content);
				console.log(c.votes);
				cm.votes = ko.observable(c.votes);

				cm.upvote = function() {
					$.post("/upvote", {"id": cm.id()})
					.done(function() {
						self.loadData();
					});
					
				}

				cm.downvote = function() {
					$.post("/downvote", {"id": cm.id()})
					.done(function() {
						self.loadData();
					});
				}
			};

			self.loadData = function() {
				self.posts.removeAll();
				$.getJSON("/posts", function(data) {
					$.each(data, function(i, val) {
						self.posts.push(new self.PostModel(val));
					});
				});
			};
			
			self.init = function() {
				self.loadData();
			};
			self.init();
		}

		ko.applyBindings(new AppModelView(), document.getElementById("app"));

	</script>
</body>
</html>