<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EasyCMS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/easy.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-date-picker.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<style>
		.login {
			width: 25%;
		}

		.table {
			width: 75%;
		}
	</style>
</head>
<body>
	<div class="top-nav" id="top-nav1">
	  <a href="/admin">Login</a>
	  <a href="/register" class="active">Register</a>
	  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
	    <i class="fa fa-bars"></i>
	  </a>
	</div>
	<div class="container">
		<div class="row">
			<div class="login">
				<h2>Register</h2>
				<label>Username</label>
				<input id="register-user-input" type="text">
				<label>E-Mail</label>
				<input id="register-email-input" type="text">
				<label>Password</label>
				<input id="register-password-input" type="password">
				<br>
				<div class="row" style="text-align: center;">
					<button id="register-btn">Submit</button>
				</div>
				<div class="row" style="text-align: center;">
					<a href="/admin">Login</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tiny-date-picker.min.js') }}"></script>
	<script>
		$(document).ready(function() {
			$("#register-btn").click(function() {
				var username = $("#register-username-input").val();
				var email = $("#register-email-input").val();
				var password = $("#register-password-input").val();

				$.post("/add_user", {username: username, email: email, password: password})
				.done(function(data){
					if (data.status == "OK") {
						location.reload();
					}
					else {
						alert("Error.");
					}
				});
			});
		});
	</script>
</body>
</html>