<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EasyCMS</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/easy.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-date-picker.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<style>
		.register {
			width: 25%;
			padding: 15px;
			background-color: #ccc;
			border-radius: 10px;
		}

		.table {
			width: 75%;
		}
	</style>
</head>
<body>
	<div class="top-nav" id="top-nav1">
	  <a href="/">Home</a>
	  <a href="/login">Login</a>
	  <a href="/signup" class="active">Sign up</a>
	  <a href="/admin">Admin</a>
	  <a href="/logout">Logout</a>
	  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
	    <i class="fa fa-bars"></i>
	  </a>
	</div>
	<div class="container">
		<div class="row">
			<div class="register">
				<form action="/add_user" method="post">
					<h2>Sign up</h2>
					<label>Username</label>
					<input id="register-user-input" type="text" name="username">
					<label>E-Mail</label>
					<input id="register-email-input" type="text" name="email">
					<label>Password</label>
					<input id="register-password-input" type="password" name="password">
					<br>
					<div class="row" style="text-align: center;">
						<button type="submit" id="register-btn">Submit</button>
					</div>
					<div class="row" style="text-align: center;">
						<a href="/admin">Login</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tiny-date-picker.min.js') }}"></script>
	<script>
	</script>
</body>
</html>